[Unit]
Description=Meter Recorder
Wants=
After=network.target

[Service]
Type=notify

User=yggdra
Group=yggdra

ExecStart=/usr/local/bin/meter_recorder

Restart=always

TimeoutStartSec=15
WatchdogSec=10

[Install]
WantedBy=multi-user.target
